.backdrop-grass {
    position: absolute;
    width: 100%;
    margin-top: 40vh;
    height: 60vh;
    background-color: #98cf75;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2396ac92' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    z-index: 2;
    text-align: center;
    justify-content: center;
}

.backdrop-sky {
    position: absolute;
    background-color: skyblue;
    height: 40vh;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 60vh;
    z-index: 1;
}
.road {
    background-color: gray;
    height: 100%;
    width: 400px;
    z-index: 5;
    justify-content: center;
    display: inline-block;
    position: relative;

}
.roadlines {
    position: relative;
    z-index: 5.5;
    height: 100%;
    left: 190px;
    top: -450px;
    border-left: dashed 20px white;
}